:root {
  --color-primary: #34547a;
  --color-secondary: #717171;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-light: #eeeff1;


  --font-size: 16px;
  --font-size-md: 21px;
  --font-family: "Roboto", sans-serif;
  --line-height: 1.64;
  --letter-spacing: 0.1em;

  --container-primary: 1110px;
  --container-secondary: 540px;
  --gap: 20px;
  --gap-sm: calc(var(--gap)*0.5);
  --gap-md: calc(var(--gap)*1.5);
  --gap-lg: calc(var(--gap)*2);


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: var(--line-height)
}

a {
  text-decoration: none;
}

.container {
  width: min(100% - 40px, var(--container-primary));
  margin-inline: auto;
}

.container--sm {
  width: min(100% - 40px, var(--container-secondary));
}

.header {
  background-color: var(--color-gray-light);
  padding-top: 69px;
  padding-bottom: 140px;
}


.navbar {
  margin-bottom: 135px;
}

.navbar__list {
  display: flex;
  gap: var(--gap-lg);
}

.navbar__link {
  display: block;
  color: var(--color-black);
  padding: 0.5em 3px 0.5em 0;
  letter-spacing: var(--letter-spacing);
}

.navbar__link--active {
  color: var(--color-primary);
}

.content {
  max-width: var(--container-secondary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content__title {
  margin: 0;
  margin-bottom: 33px;
  font-size: 32px;
  font-weight: 500;
}

.content__description {
  color: var(--color-secondary);
  margin-bottom: 57px;
}

.content__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-white);
  letter-spacing: var(--letter-spacing);
  padding: 1em;
  min-width: 225px;
  min-height: 65px;
}

.section {
  padding-top: 105px;
  padding-bottom: 92px;
}

.section__title {
  font-size: 32px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 50px;
}

.section__description {
  text-align: center;
  color: var(--color-secondary);
}

.process {
  background-color: var(--color-gray-light);
  margin-bottom: -41px;
}

.experience {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding-top: 100px;
  padding-bottom: 92px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.experience__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap-lg);
}

.experience-item {
  display: flex;
  flex-direction: row-reverse;
  gap: var(--gap);

}

.experience-item__number {
  font-size: var(--font-size-md);
  font-weight: 500;
  line-height: 1.4;
}

.video {
  background-color: var(--color-gray-light);
  padding-bottom: 100px;
}

.video__content {
  border: none;
  height: 600px;
  width: 100%;
  display: block;
}

.footer {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 45px 0 45px 0;
}

.footer__name {
  font-size: var(--font-size-md);
  font-weight: 500;
  margin-bottom: 5px;
}

.footer__copyright {
  font-size: 13px;
}

/*media queries*/

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  :root {
    --gap: 16px;
    --letter-spacing: 0.05em;
    --font-size-md: 18px;
    --container-primary: 800px;
    --container-secondary: 500px;
  }

  .container {
    width: min(100% - 30px, var(--container-primary));
  }

  .container--sm {
    width: min(100% - 30px, var(--container-secondary));
  }

  .header {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .navbar {
    margin-bottom: 80px;
  }

  .content__title {
    margin-bottom: 25px;
  }

  .content__description {
    margin-bottom: 48px;
  }

  .content__link {
    padding: 0.8em;
    min-width: 180px;
    min-height: 50px;
  }

  .section {
    padding-top: 75px;
    padding-bottom: 65px;
  }

  .section__title {
    font-size: 28px;
  }

  .process {
    margin-bottom: 0;
  }

  .experience {
    padding-top: 70px;
    padding-bottom: 65px;
  }

  .experience-item__text {
    font-size: 14px;
  }

  .experience-item__image img {
    height: 75%;
    width: auto;
  }

  .video {
    padding-bottom: 70px;
  }

  .video__content {
    height: 420px;
  }

  .footer {
    padding: 35px 0 35px 0;
  }
}

/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  :root {
    --gap: 8px;
    --letter-spacing: 0.08em;
    --font-size: 14px;
    --container-primary: 400px;
    --container-secondary: 300px;
  }


  .header {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .navbar__link {
    font-size: 12px;
  }

  .navbar {
    margin-bottom: 50px;
  }

  .navbar__list {
    flex-wrap: wrap;
  }

  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section__title {
    margin-bottom: 30px;
  }

  .experience-item__image img {
    height: 70%;
  }

  .experience-item__number {
    font-size: 16px;
  }

  .video {
    padding-bottom: 45px;
  }

  .footer {
    padding: 25px 0 25px 0;
  }
}