@use 'presets' as *;
@use 'mixins' as *;

.video {
  background-color: $color-gray-light;
  padding-bottom: 100px;

  &__content {
    border: none;
    height: 600px;
    width: 100%;
    display: block;

    @media (max-width: 991.98px) {
      height: 420px;
    }

    @media (max-width: 575.98px) {
        height: 350px;
      }
  }


}