* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.64;
}

a {
  text-decoration: none;
}

.container {
  width: min(100% - 40px, 1110px);

  margin-inline: auto;
}
.container--sm {
  width: min(100% - 40px, 540px);
}

.header {
  padding-top: 69px;
  padding-bottom: 140px;

  background-color: #eeeff1;
}

.navbar {
  margin-bottom: 135px;
}
.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  gap: 40px;
}
.navbar__link {
  display: block;

  padding: 0.5em 3px 0.5em 0;

  letter-spacing: 0.1em;

  color: #000000;
}
.navbar__link--active {
  color: #34547a;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  max-width: 540px;
}
.content__title {
  margin: 0;
  margin-bottom: 33px;

  font-size: 32px;
  font-weight: 500;
}
.content__description {
  margin-bottom: 57px;

  color: #717171;
}
.content__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  min-width: 225px;
  min-height: 65px;
  padding: 1em;

  letter-spacing: 0.1em;

  color: #ffffff;
  background-color: #34547a;
}

.section {
  padding-top: 105px;
  padding-bottom: 92px;
}
.section__title {
  margin-bottom: 50px;

  text-align: center;

  font-size: 32px;
  font-weight: 400;
}
.section__description {
  text-align: center;

  color: #717171;
}

.process {
  margin-bottom: -41px;

  background-color: #eeeff1;
}

.experience {
  padding-top: 100px;
  padding-bottom: 92px;

  color: #ffffff;
  background-color: #34547a;
}
.experience__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  gap: 40px;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.experience-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;

  gap: 20px;
}
.experience-item__number {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.4;
}

.video {
  padding-bottom: 100px;

  background-color: #eeeff1;
}
.video__content {
  display: block;

  width: 100%;
  height: 600px;

  border: none;
}

.footer {
  padding: 45px 0 45px 0;

  color: #ffffff;
  background-color: #34547a;
}
.footer__name {
  margin-bottom: 5px;

  font-size: 21px;
  font-weight: 500;
}
.footer__copyright {
  font-size: 13px;
}
@media (max-width: 991.98px) {
  .container {
    width: min(100% - 30px, 800px);
  }
  .container--sm {
    width: min(100% - 30px, 500px);
  }
  .header {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .navbar {
    margin-bottom: 80px;
  }
  .content__title {
    margin-bottom: 25px;
  }
  .content__description {
    margin-bottom: 48px;
  }
  .content__link {
    min-width: 180px;
    min-height: 50px;
    padding: 0.8em;
  }
  .section {
    padding-top: 75px;
    padding-bottom: 65px;
  }
  .section__title {
    font-size: 28px;
  }
  .process {
    margin-bottom: 0;
  }
  .experience {
    padding-top: 70px;
    padding-bottom: 65px;
  }
  .experience-item__text {
    font-size: 14px;
  }
  .experience-item__image img {
    width: auto;
    height: 75%;
  }
  .video {
    padding-bottom: 70px;
  }
  .video__content {
    height: 420px;
  }
  .footer {
    padding: 35px 0 35px 0;
  }
}
@media (max-width: 575.98px) {
  .header {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .navbar__link {
    font-size: 12px;
  }
  .navbar {
    margin-bottom: 50px;
  }
  .navbar__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section__title {
    margin-bottom: 30px;
  }
  .experience-item__image img {
    height: 70%;
  }
  .experience-item__number {
    font-size: 16px;
  }
  .video {
    padding-bottom: 45px;
  }
  .footer {
    padding: 25px 0 25px 0;
  }
}
