$color-primary: #34547a;
$color-secondary: #717171;
$color-black: #000000;
$color-white: #ffffff;
$color-gray-light: #eeeff1;

$font-size: 16px;
$font-size-md: 21px;
$font-family: "Roboto", sans-serif;
$line-height: 1.64;
$letter-spacing: 0.1em;

$container-primary: 1110px;
$container-secondary: 540px;
$gap: 20px;
$gap-sm: $gap * 0.5;
$gap-md: $gap * 1.5;
$gap-lg: $gap * 2;
